body, html {
	background-color:#e9e9e9;
}
#bodyWrapper {
	background-color:transparent;
	width:100%;
}
#content-wrapper {
	background-color:#fff;
	width:960px;
	margin:0 auto;
	position:relative;
}
/* HOMEPAGE */
#header-wrapper {
	background:transparent url(../images/home-bg.png) repeat-x;
}
#header {
	width:960px;
	margin: 0 auto;
}
#header-center {
	text-align:right;
	display:block;
	width:100%;
	height:30px;
	padding-top:5px;
}
  #header-center ul {
	  list-style: none;
  }
  #header-center ul li {
	  float: left;
	  color: #303030;	
  }
#header-contact {
	padding:3px 0 0;
	float: right;
}
	#header-contact, #header-contact a {
		font-size:11px;
		color:#3b3b3b;
	}
	#header-contact li {
		padding:0 0 0 10px;
	}
#header-tabs {
	margin-top:4px;
	margin-left:345px;
	font-size: 13px;
	color: #303030;
}
  #header-tabs li {
	  background-color: #e4e4e4; 
	  height: 30px;
	  line-height: 30px;
	  position: relative;
	  padding:  0 20px;
  }
  #header-tabs a {
	  display:block;
	  height:25px;
	  text-align:center;
	  line-height:25px;
	  overflow:hidden;
	  margin-top:2px;
	  float:left;
	  padding:0 13px;
	  background-color:#e1e1e1;
	  font-size:12px;
	  color:#9e1b32;
  }
  #header-tabs a.current {
	  margin:0;
	  height:28px;
	  background-color:#eee;
	  font-size:13px;
	  color:#303030;
  }

#logo-contact {
	width: 960px; margin: 0 auto; clear:both;
	position:relative;
	top:-1px;
	height:108px;
	border-left:1px solid #ddd;
	border-right:1px solid #fff;
	margin-bottom:3px;
}
	#ctl00_header_lnkVrc .logo {
		padding: 0;
	}

#mainNav {
	clear:none;
}
	div#mainNav ul.level1 {
		padding:0;
	}
	div#mainNav ul.level1 li.l1 {
		border-right:1px solid #d1d1d1;
		border-top:1px solid #f9f9f9;
		border-bottom:1px solid #fff;
		border-left:1px solid #f9f9f9;
		color: #333333;
		font-size: 13.5px;
	}
	div#mainNav ul.level1 li.first {
		border-left:none;
	}
	div#mainNav ul.level1 li.l1 a span {
		padding:10px 28px;
	}
	div#mainNav ul.level1 li.videoTab a span {
		padding:10px 30px
	}
	div#mainNav ul.level1 li.facSelect a span {
		padding:10px 31px 10px 30px;
	}
	div#mainNav ul.level1 li.l1 a.l1 {
		background:url(../images/menu-bg.jpg) repeat-x;
	}
	
	div#mainNav ul.level1 li.active, div#mainNav ul.level1 li.l1:hover {
		background:url(../images/menu-hover-bg.jpg) repeat-x;
	}
	div#mainNav ul.level1 li.l1:hover a.l1 span,
	div#mainNav ul.level1 li.l1:hover a.l1,div#mainNav ul.level1 li.l1 a.l1:hover ,
	div#mainNav ul.level1 li.active a.l1{
		color:#fff !important;
		background:none;
	}
	div#mainNav ul.level1 li.active, div#mainNav ul.level1 li.l1:hover {
		border-bottom:1px solid #9e1b32;
	}
#ctl00_header_lnkVrc {
	border-right:1px solid #fff;
	height:109px;
	display:block;
	float:left;
}
#ctl00_header_lnkVrc img {
	border-right:1px solid #d1d1d1;
}
#contact {
	height:52px;
	padding:18px 0 0;
	border-right:1px solid #d1d1d1;
}
	#contact ul {
		margin:0;padding:0;
		list-style:none;
	}
	#contact li {
		display:block;
		float:left;
	}
	#contact #call {
		width:auto;
		padding-right:30px;
		font-size:11px;
		text-transform:uppercase;
		color:#3b3b3b;
	}
	#contact #call p, #contact #call img {
		float:left;
		text-align:left;
	}
	#contact #call .phoneNum {
		font-size:15px;
		color:#303030;
	}
	#contact .search {
		margin:0;
		padding:0;
	}
	#contact .search input {
		width:127px;
		height:37px;
		margin:0;
		padding:0;
		padding-left:37px;
		background:transparent url(../images/search-glass.jpg) no-repeat;
		border:none;
		font-size:14px;
		color:#474747;
	}
div#heroWrapper {
	width:100%;
	margin:0;
	height:479px;
	overflow:hidden;
}
body #heroCarousel, body #heroCarousel .jcarousel-clip, body #heroCarousel a.heroImg {
	width:100% !important;
	height:479px;
}
#heroCarousel a.slide1 {
	background:url(../images/slider-fpo.jpg) no-repeat center top;
}

#heroCarousel a.slide2 {
	background-color:#333;
}
#heroCarousel a.slide3 {
	background-color:#666;
}
#heroCarousel a.slide4 {
	background-color:#999;
}
.control-wrapper {
	width:940px;
	height:20px;
	position:relative;
	margin:0 auto;
	z-index:80;
	top:450px;
}
#heroCarousel-control a {
	width:12px;
	height:12px;
	background:transparent url(../images/carousel-btn.png) right 0;
}
#heroCarousel-control li.activeSlide a {
	background:transparent url(../images/carousel-btn.png) 0 0;
}
.clean .full #heroCarousel-control {
	top:0;
}
.threeUp li a, .threeUp li img {
	width:auto;
	height:auto;
}
#h1tsa {
	padding-right:23px;
	text-transform:uppercase;
	font-size:14px;
	color:#606060;
	padding:0 0 20px;
}
body ul.threeUp {
	margin:0;
	padding:10px 7px 3px;
}
  .threeUp li {
	  margin-right: 8px;
  }
div.findAcruiseFeat {
	background-color:#dbd8d5;
}
div.findAcruiseFeat h3 {
	display:block;
}
li #hpfac .wrapper {
	height:204px;
	width:309px;
	background-image:none;
}
li #hpfac .facForm {
	padding:12px 0 0 21px;
}
li #hpfac .chzn-container-single .chzn-single {
	background-image:url(../images/form-dd.jpg);
	border-radius:0px;
	height:29px;
}
li #hpfac .chzn-container-single .chzn-single span {
	font-size:16px;
	line-height:29px !important;
	margin-right:20px;
}
li #hpfac .facForm .chzn-container, li #hpfac select {
	margin-bottom:12px;
}
#hpfac .chzn-container-single .chzn-single div b {
	background:url(../images/form-arrow.png) no-repeat 0 center;
}
#ctl00_bodyPH_ccf_2_1_1_2_ddDestination_chzn, #ctl00_bodyPH_ccf_2_1_1_2_ddMonth_chzn {
	width:269px !important;
}
li #hpfac .cta {
	padding-left:21px;
}
li #hpfac .cta a.search {
	background-image:url(../images/search-btn.png);
	height:30px;
	width:116px;
	margin-right:10px;
}
li #hpfac .cta a.reset {
	background-image:url(../images/reset-btn.png);
	height:30px;
	width:68px;
	margin-right:10px;
}
#brochure {
	background:url(../images/home-sendinfo-bg.jpg) no-repeat;
	width:100%;
	height:82px;
	overflow:hidden;
	clear:both;
	margin-left:7px;
}
	#brochure p {
		font-size:17px;
		color:#000;
		width:251px;
		float:left;
		line-height: 20px;
		padding: 13px 0 0 20px;
	}
	#brochure .btns {
		padding-top:28px;
		padding-right:26px;
		float:right;
	}
	#brochure .btns a {
		margin-left:19px;
	}
/* SUBPAGE */
.locationHeading, .cruiseHeading {
	height:253px;
}
.locationHeading div {
	width:100%;
	height:253px;
	overflow:hidden;
}
.why-viking-heading {
	background:url(../images/subpage-hero.jpg) no-repeat center top;
}
#breadcrumb {
	background-color:#e9e9e9;
	padding:13px 0;
	color:#303030;
}
#breadcrumb a, #breadcrumb a:link, #breadcrumb span.spacer, #breadcrumb a:visited {
	color:#303030;
}

.contentWrapper, #contentWrapper {
	margin-top:8px;
	background-image:none;
}

.mainContent {
	font-size:18px;
	width:600px;
	padding:28px 30px 0;
}
  .mainContent p {
	  margin:1.5em 0;
	  /* Brandon Grotesque */
  }
  .mainContent h2 {
	  color:#9e1b32;
	  font-weight:bold;
	  font-size:22px;
	  text-transform:uppercase;
	  margin:0 0 2em;
	  /* Trajan Pro */
  }
  .mainContent h2 span {
	  font-size:18px;
  }
  .mainContent h3 {
  	color:#98082f;
	font-size:18px;
	text-transform:uppercase;
	margin:1.5em 0;
	/* Brandon Grotesque */
	
  }
  .mainContent img.hero {
	  padding:10px 0;
  }
  .mainContent a, .mainContent a:link, .mainContent a:active {
	  color:#9b0c32;
	  text-decoration:none;
  }
  .mainContent a:hover {
  	text-decoration:underline;
  }
  

.sideBar {
	width:286px;
	margin-right:8px;
	padding:0;
}
  .sideBar .toolbar, .sideBar #toolbar {
  	margin:0;
	background-color:#ebebeb;
  }
  .shareBar {
  	padding:15px 0 12px 20px;
  }
	.shareBar li {
	  padding:0 11px 0 0;
	  margin:0;
	}
	.shareBar .liFBShare {
	  padding:0;
	  width:83px;
	}
  .thrdNav {
  	background-color:#f6f6f6;
	padding:20px 20px;
	margin:5px 0;
  }
	  div.thrdNav ul {
		  margin:0;
		  padding:0;
	  }
	  div.thrdNav ul li {
	  	padding-bottom:10px;
		text-transform:uppercase;
		font-size:13px;
		/* Brandon Grotesque */
	  }
	  div.thrdNav ul li a {
		padding-left:15px;
	  }
	  div.thrdNav ul li a.active {
	  	color:#af1941;
		background:url(../images/sidebar-active.png) no-repeat;
	  }
	.edbContainer {
		background-color:#ebebeb;
		border:none;
		color:#303030;
		text-align:left;
		line-height:125%;
		font-size:17px;
	}
	  .edbContainer h3 {
		  font-size:16px;
		  color:#b11d46;
		  text-transform:uppercase;
		  text-decoration:none;
		  font-weight:normal;
	  }
	  .edbContainer p {
		  margin:1em 0 1.3em;
	  }
	  .edbContainer p.callout {
		  font-size:16px;
		  color:#242424;
		  text-transform:uppercase;
		  margin:0;
	  }
	  .edb-inner {
		  padding:20px;
	  }
	.contactViking {
		margin:5px 0;
		background:#f1f1f1 url("../images/contact-box.jpg") no-repeat;
		height:348px;
	}
	.contactViking ul {
		text-indent:0;
		padding:30px;
	}
	.contactViking li {
		border:none;
		line-height:100%;
		margin-bottom:22px;
	}
	.contactViking li.contactVikingHeader {
		background-color:transparent;
		font-weight:normal;
		font-size:16px;
		color:#303030;
		margin-bottom:40px;
	}
	.contactViking ul li a {
		color:#303030;
		font-size:17px;
		width:100%;
		display:block;
		background:url(../images/contact-arrow.png) no-repeat right center;
	}
	.contactViking ul li a:hover {
		background:url(../images/contact-arrow.png) no-repeat right center;
	}

.footer {
	padding-top:20px;
}
#footer-links {
	text-align:left;
	text-transform:uppercase;
	font-size:13px;
	color:#474747;
	margin:0 10px;
	padding:30px 20px;
	border-top:1px solid #d7d6d6;
}
  #footer-links ul {
  	display:block;
	float:left;
	width:186px;
	margin-right:52px;
  }
  #footer-links ul.footer-links-last {
  	margin:0;
  }
  
  #footer-links ul.footer-links-last li img {
  	padding-right:15px;
  }
  #footer-links ul.footer-links-last li iframe, #footer-links ul.footer-links-last li .GoPSmall {
  	float:left;
  }
  #footer-links ul.footer-links-last li.last-link {
  	padding:10px 0;
  }
  #footer-links li {
  	margin:0;
	padding:0;
	text-indent:0;
	list-style:none;
	border-bottom:1px solid #d7d6d6;
	padding:3px 0;
  }
  #footer-links li.last-link {
  	border:none;
  }
  #footer-links .footerHeader {
  	color:#111111;
  }
  #copyright p {
  	color:#071f2d;
	text-transform:uppercase;
	font-size:12px;
  }
  #copyright p span {
  	font-size:14px;
  }