           #ipad #container {width: 40em; margin: 0 auto; background-color: #fff; overflow: hidden;}
           
           header {width: 100%; height: 5em; background: url('../images/header_bg.png') repeat-x; border-bottom: 2px solid #fff;}
                header .header_center, .oceans-header_center {
                    width: 56%;}
					
					section.image-holder ul li {font-family: times, serif; float: left; width: 49.44%;}
                    
                    section.image-holder ul li:first-child {margin: 0 0.443em 0 0;}

                
                section.explorer_the_world {
                    width: 100%; 
                    height: 2.8em; 
                    background-color: #9e1b32; 
                    margin: 1.875em 0 0 0; 
                    box-shadow: 0 0.23em 0.5em 0em #999;
                    -moz-box-shadow: 0 0.23em 0.5em 0em #999;
                    -webkit-box-shadow: 0 0.23em 0.5em 0em #999;}
                    section.explorer_the_world div { 
                         height: 2.2em; 
                         background: url('../images/explore_bg.png') repeat-x; 
                         margin: 0 0 0 0.53em; 
                         padding:  0.875em 0 0 2.15em; 
                         font-weight: bold;}
                    section.explorer_the_world ul {
                         width: 100%; 
                         height: 5.875em; 
                         margin:  -0.065em 0 0 0;}
                    section.explorer_the_world ul li {
                         float: left; 
                         border-right: 1px solid #d1d1d1;
                         font-size: 0.875em;
                         color: #303030;}
                    section.explorer_the_world ul li:last-child span {font-size: 1.626em;}
                    section.explorer_the_world ul li:last-child {border: none; padding: 1.875em 0 0 2.8em;}

                section.about_contact {clear: both;}
                    section.about_contact ul {width: 100%; border-bottom: 1px solid #d1d1d1;}
                    section.about_contact ul li {width: 43%; float: left; text-align: center; padding: 1.5em 1em; font-size: 1.31em;}
                    section.about_contact ul li:first-child {border-right: 1px solid #d1d1d1;}

                section.search {width: 100%; height: 5.5em; background: url('../images/search_bg.png') repeat-x; border-top: 2px solid #d1d1d1; border-bottom: 2px solid #d1d1d1; clear: both;}
                    .search_middle {
                        width: 67%; 
                        height: 4.8em; 
                        margin: 0 auto;}

                    .search_middle input {width: 89%; 
                        height: 4.93em; 
                        margin: 0.625em auto; 
                                             
                        -webkit-box-shadow: inset 0px 0px 10px 0px #999; 
                        -moz-box-shadow: inset 0px 0px 10px 0px #999; 
                        box-shadow: inset 0px 0px 10px 0px #999;
                        }

                section.footer_links {width: 100%; overflow: auto;}
                    section.footer_links ul {width: 50%; float: left; margin: 1.875em auto; font-size: 0.75em;}
                    
                    footer div {
                        width: 35%; 
						color: #071f2d;
                        font-size: 0.75em;}

                        /*** Oceans Page  CSS (Grab css on line 7 for oceans container) ***/

                        .oceans-header_center {
                        width: 95%; 
                        margin: 0 auto;}  
                    .oceans-header_center div {float: left; height: 5em;}
                    .oceans-header_center div img {margin: 1.5em 0 0 0;}
                    .oceans-header_center #oceans-logo {
                        width: 22.1875em; 
                        background-color: #fff;
                        border-left: 2px solid #d1d1d1; 
                        border-right: 2px solid #d1d1d1;}
                    .oceans-header_center #oceans-logo img {width: 70%; margin: 1.75em auto; padding: 0 0 0 3.4375em;}
                    .oceans-header_center .pagination-btn {width: 7.7em;} 
                    
                    section.video-holder {
                        box-shadow: 0 0.23em 0.5em 0em #999;
                        -moz-box-shadow: 0 0.23em 0.5em 0em #999;
                        -webkit-box-shadow: 0 0.23em 0.5em 0em #999;
                        overflow: hidden;}
                        section.video-holder img {width: 100%;}
                    section.video-holder ul {
                        overflow: hidden;
                        }

                        section.video-holder div {
                            height: 23.4em;
                            background: url('../images/oceans_video_mobile.png') repeat-x;
                            width: 100%;
                            /*background: url('../images/oceans_video.png') repeat-x;*/
                        }
                    section.video-holder ul li {
                        width: 33.178%; 
                        height: 5.5em;}

                        section.video-holder ul li ul {
                        overflow: none!important;
                        box-shadow: none!important;
                        margin: 0.8em;
                        color: #9e1b32;
                        font-weight: bold;
                        }
                        
                        

                        
                        section.register {
                            width: 39em;
                            margin: 1.5em auto 0.625em; 
                        }

                        section.register .container {width: 35em; height: 15.25em; margin: 0 auto;}
                        section.register .container p {font-size: 0.8125em;}
                        section.register .container h1 {padding: 1em 0 0 0; font-family: times, serif; letter-spacing: 0.3125em;}
                        section.register .container form {}
                        section.register .container form ul {width: 40em; margin: 1.5625em auto; overflow: auto;}
                        section.register .container form input {
                            width: 12em;}
                            section.register .container .submit {}

                        section.find-brochure ul li {width: 18.7em; height: 4.5em; float: left;}
                        section.find-brochure ul li:first-child {margin: 0 1.25em 0 0;}
                        section.find-brochure ul li h2 {
                            width: 90%; 
                            margin: 1.7em 0 0 1.2em; 
                            background: url('../images/brochure_arrow.png') no-repeat 15em 0.2em;
                            font-size: 1em;}




                    

                    